{ 
    padding:none!important; 

},

#karta {
    padding: 0px;
    border: 1px black solid;
    background: #ebe6dd;
    color: #27241f;
}
h5, h4 {
    margin-top: 8px;
    color: white;
}
h3 {
    margin-top: 10px;
}
h2 { 
    color: #27241f !important;
}
.header h1 {
    margin-bottom: 0;
    color: black;
}
.header h2 {
    margin-top: 0;
    font-size: 1.6em;
    color: white;
}
.header h3 {    
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 20px;
    color: black;
}
.card {
    border: 1px solid #27241f;
    background-color: #fefefe;
    margin: 4px;
}
.card.row {
    flex-direction: row;
}
.card-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #f9f9f9;
    background-color: #27241f;
    margin-bottom: 0;
}
.card .border {
    padding: 4px;
}
.card .border-strong {
    border: 1px solid #716c64;
    text-align: center;
    background-color: #ebe6dd;
    border-radius: 15px;
    margin: 1px;
}
.card .border-strong.btext {
    display: inline-block;
    min-width: 38px;
    padding: 0 2px;
}
.card-content {
    padding: 8px 10px;
}
.card-info-label {
    text-transform: uppercase;
    border-top: 1px solid #858585;
    color: #858585;
    font-size: 0.8em;
    padding-bottom: 6px;
}
.table th {
    background-color: #fefefe;
    color: #27241f;
}
.table td {
    color: #27241f;
}
.table tr {
    background-color: #fefefe !important;
    border-bottom: 1px solid #eae5dc;
}
.table td.circle {    
    width: 60px;
    text-align: right;
}

.col-xs-equal,
.col-sm-equal,
.col-md-equal,
.col-lg-equal {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}