#karta {
    padding: 10px;
    border: 1px black solid;
    background: #ebe6dd;
    color: #27241f;
}
h5, h4 {
    margin-top: 8px;
}
h3 {
    margin-top: 10px;
}
h2 { 
    color: #27241f !important;
}
.header h1 {
    margin-bottom: 0;
}
.header h2 {
    margin-top: 0;
    font-size: 1.6em;
}
.header h3 {    
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 20px;
}
.karta-tab {
    border: 1px solid #27241f;
    background-color: #fefefe;
    margin: 4px;
}
.karta-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #f9f9f9;
    background-color: #27241f;
}
.karta-content {
    padding: 8px 10px;
}
.karta-content .border {
    padding: 4px;
}
.karta-content .border-strong {
    border: 1px solid #716c64;
    text-align: center;
    background-color: #ebe6dd;
    border-radius: 15px;
    margin: 1px;
}
.karta-info-label {
    text-transform: uppercase;
    border-top: 1px solid #858585;
    color: #858585;
    font-size: 0.8em;
    padding-bottom: 6px;
}
.table th {
    background-color: #fefefe;
    color: #27241f;
}
.table td {
    color: #27241f;
}
.table tr {
    background-color: #fefefe !important;
}
.table tr:nth-of-type(1n) {
    background-color: #dce0e6 !important;
}
.table tr:nth-of-type(2n) {
    background-color: #fefefe !important;
}

.corruption {
    padding:4px 0;
    display: inline-block;
    width: 38px;
}